<div class="table-wrapper">
<mat-table [dataSource]="data" class="table-data mat-elevation-z8">

    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
    </ng-container>
  
    <!-- <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.brand}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="closureDate">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Closure Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.closureDate}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="salesStage">
      <mat-header-cell *matHeaderCellDef> Sales Stage </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.salesStage}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="roadmapStatus">
      <mat-header-cell *matHeaderCellDef> Roadmap Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.roadmapStatus}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="totalRevenue">
      <mat-header-cell *matHeaderCellDef> Total Revenue </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalRevenue}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="omittedRevenue">
      <mat-header-cell *matHeaderCellDef> Omitted Revenue </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.omittedRevenue}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="pipelineRevenue">
      <mat-header-cell *matHeaderCellDef> Pipeline Revenue </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pipelineRevenue}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="bestCastRevenue">
      <mat-header-cell *matHeaderCellDef> Best Cast Revenue </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bestCastRevenue}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="commitRevenue">
      <mat-header-cell *matHeaderCellDef> Commit Revenue </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.commitRevenue}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="closedRevenue">
      <mat-header-cell *matHeaderCellDef> Closed Revenue </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.closedRevenue}} </mat-cell>
    </ng-container> -->
    
    
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator #paginator
  [pageSize]="25"
  [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="hidePageSize" showFirstLastButtons>
    </mat-paginator>
</div>